{% include "header.html" %}
    <body>
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to my Portfolio. My name is Rubia, I'm 23 years old, Italian-Brazilian, and currently living in the Netherlands.</p>
                        <p>Technology has been my passion since I was a little girl. I was always really curious to use my father's computer and discover all the functionality that that device could offer me.</p>
                        <p>But only in 2016 during my Associate Degree in Information Technology I understood how computers worked.</p>
                        <p>After that I did a Bachelor Degree in Computer Engineer and worked for three multinationals: Tetra Pak, Kärcher and Katoen Natie.</p>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
