{% include "header.html" %}
{% block content %}
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Rubia Costa</h1>
                    <span class="subheading">Computer Engineer</span>
                </div>
                <div class="d-flex gap-2 justify-content-center py-5">
                    <span class="badge text-bg-primary rounded-pill">Java</span>
                    <span class="badge text-bg-secondary rounded-pill">Python</span>
                    <span class="badge text-bg-success rounded-pill">C#</span>
                    <span class="badge text-bg-danger rounded-pill">C++</span>
                    <span class="badge text-bg-warning rounded-pill">JavaScript</span>
                    <span class="badge text-bg-info rounded-pill">HTML</span>
                    <span class="badge text-bg-light rounded-pill">CSS</span>
                    <span class="badge text-bg-dark rounded-pill">Dark</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% include "footer.html" %}
